name: CD
run-name: "`${{ github.actor }}` triggered workflow from a ${{ github.event_name }} on `${{ github.head_ref || github.ref_name }}` : ${{ github.event.head_commit.message || github.event.workflow_run.head_commit.message }}"

on:
  workflow_run:
    workflows: ["CI"]
    branches:
      - main
    types: 
      - completed

env:
  TARGET: glados

jobs:
  build-haddock-documentation:
    if: github.repository == 'lszsrd/glados' && github.event.workflow_run.conclusion == 'success'
    name: Generating documentation
    runs-on: ubuntu-24.04

    steps:
    - name: Cloning repository
      uses: actions/checkout@v4
      timeout-minutes: 2

    - name: Generating Haddock documentation
      run: |
        echo "DOC_PATH="`cabal haddock --haddock-all | grep "Documentation created" -A1 | grep -v "Documentation created"` >> $GITHUB_ENV
      timeout-minutes: 2

    - name: Deploy documentation
      uses: peaceiris/actions-gh-pages@v3
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.DOC_PATH }}
          publish_branch: documentation
      timeout-minutes: 2

  push-to-mirror:
    if: github.repository == 'lszsrd/glados' && github.event.workflow_run.conclusion == 'success'
    name: Pushing to Epitech repository
    runs-on: ubuntu-24.04

    steps:
    - name: Clonning repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
      timeout-minutes: 2

    - name: Deploying repository
      uses: pixta-dev/repository-mirroring-action@v1
      with:
        ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
        target_repo_url: ${{ secrets.MIRROR_URL }}
      timeout-minutes: 2
